meta {
    -theme-interface-style: dark;
    -theme-vibrancy: none;
    -theme-accent-color: false;
}

/* base colors */

/* dark green: #041A00; hsla(111, 100%, 2%, 1);*/
/* fern green: 537A5A; hsla(131, 19%, 40%, 1);*/
/* eggshell: F4EBD9; hsla(40, 55%, 90%, 1); */
/* celestial blue: #058ED9; hsla(201, 95%, 44%, 1); */
/* kimchi: #db5006; hsla(21, 95%, 44%, 1); */
/* lilac: BBA0CA; hsla(279, 28%, 71%, 1); */

/* Window styles */
 
meta.window { /* main window frame */
    background-color: hsla(111, 100%, 2%, 1);
    color: hsla(40, 55%, 90%, 1);
    border-color: hsla(131, 19%, 40%, 0.2);
}

meta.titlebar { /* top-level window titlebar */
   background-color: hsla(111, 100%, 2%, 1);
   color: hsla(40, 55%, 90%, 1);
   border-color: hsla(131, 19%, 40%, 0.2);
}

meta.titlebar.inactive { /* titlebar color when inactive */
    background-color: hsla(111, 100%, 2%, 0.5);
    color: hsla(111, 100%, 2%, 1);
    border-color: hsla(131, 19%, 40%, 0.2);
}

meta.button { /* default button coloring */
    background-color: hsla(111, 100%, 2%, 1);
    border-color: hsla(131, 19%, 40%, 1);
    color: hsla(40, 55%, 90%, 1);
}

meta.button.highlighted { /*  */
    background-color: hsla(21, 95%, 44%, 1);
    color: hsla(40, 55%, 90%, 1);
}

meta.button.selected { /* clicked and held button */
    background-color: hsla(21, 95%, 44%, 1);
    color: hsla(40, 55%, 90%, 1);
}

meta.button.highlighted.selected { /*  */
    background-color: hsla(40, 55%, 90%, 1);
    color: hsla(111, 100%, 2%, 1);
}

meta.button.disabled { /*  */
    background-color: hsla(111, 100%, 2%, 0.3);
    color: hsla(40, 55%, 90%, 0.3)
}

meta.textfield { /*  */
    background-color: hsla(111, 100%, 2%, 1);
    border-color: hsla(131, 19%, 40%, 1);
    color: hsla(40, 55%, 90%, 1);
}
meta.textfield.highlighted { /*  */
    background-color: hsla(111, 100%, 2%, 1);
    border-color: hsla(279, 28%, 71%, 1);
    color: hsla(40, 55%, 90%, 1);
}

/* Document styles */
 
meta.document { /*  */
    background-color: hsla(111, 100%, 2%, 1);
    border-color: hsla(131, 19%, 40%, 1);
}

meta.document.button { /*  */
    background-color: hsla(111, 100%, 2%, 1);
    border-color: hsla(131, 19%, 40%, 1);
}

meta.document.button.disabled { /*  */
    background-color: hsla(111, 100%, 2%, 0.5);
    border-color: hsla(131, 19%, 40%, 0.5);
}

meta.document.button.highlighted { /*  */
    background-color: ;
}

meta.document.textfield { /*  */
    background-color: hsla(111, 100%, 2%, 1);
    border-color: hsla(131, 19%, 40%, 1);
}

meta.document.textfield.highlighted { /*  */
    background-color: hsl(210, 5%, 10%);
    border-color: hsl(210, 5%, 19%);
}

/* Text */

meta.text { /*  */
    color: hsla(40, 55%, 90%, 1);
}
meta.text.invisible { /*  */
    color: hsla(40, 55%, 90%, 0.5);
}
meta.text.selected { /*  */
    color: hsla(279, 28%, 71%, 1);
}

/* Cursor */

meta.cursor { /* highlighted line of text */
    background-color: hsla(131, 19%, 40%, 0.3);
}

/* Indentation Guides */

meta.indentguide { /*  */
    border-color: hsla(131, 19%, 40%, 0.7);
}

/* Gutter */

meta.gutter { /*  */
    background-color: hsla(111, 100%, 2%, 1);
    color: hsla(279, 28%, 71%, 0.7);
}
meta.gutter.selected { /*  */
    color: hsla(111, 100%, 2%, 1);
}


/* Syntax styles */

comment { /*  */
    color: hsla(131, 19%, 40%, 0.7);
}
processing { /*  */
    color: hsl(210, 20%, 50%);
}
declaration { /*  */
    color: hsl(210, 20%, 50%);
}
bracket { /*  */
    color: hsl(210, 50%, 70%);
}
operator { /*  */
    color: hsl(210, 50%, 70%);
}
invalid { /*  */
    background-color: hsla(21, 95%, 44%, 0.7);
    color: hsla(40, 55%, 90%, 1);
}
link { /*  */
    color: hsl(210, 100%, 70%);
}

/* Keywords */

keyword { /*  */
    color: hsl(210, 100%, 70%);
}
keyword.modifier { /*  */
    font-style: italic;
    color: hsl(190, 85%, 65%);
}
keyword.condition { /*  */
    color: hsl(210, 100%, 70%);
}
keyword.construct { /*  */
    color: hsl(210, 100%, 70%);
}
keyword.statement { /*  */
    color: hsl(210, 100%, 70%);
}
keyword.self { /*  */
    color: hsl(210, 100%, 70%);
}
keyword.self.prefix { /*  */
    color: hsl(210, 100%, 80%);
}

/* Values */

value.boolean { /*  */
    color: hsla(201, 95%, 44%, 1);
}
value.null { /*  */
    color: hsla(21, 95%, 44%, 1);
}
value.number { /*  */
    color: hsla(279, 28%, 71%, 1);
}
value.entity { /*  */
    color: hsla(201, 95%, 44%, 1);
}
value.symbol { /*  */
    color: hsla(279, 28%, 71%, 1);
}

/* Identifiers */

identifier.type { /*  */
    color: hsl(32, 90%, 70%);
}
identifier.constant,
identifier.global,
identifier.variable { /*  */
    color: hsl(270, 80%, 80%);
}
identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix { /*  */
    color: hsl(240, 100%, 92%);
}
identifier.property { /*  */
    color: hsl(270, 80%, 80%);
}
identifier.property.prefix { /*  */
    color: hsl(240, 100%, 92%);
}
identifier.decorator,
identifier.function,
identifier.method { /*  */
    color: hsla(21, 95%, 44%, 1);
}
identifier.key { /*  */
    color: hsla(21, 95%, 44%, 1);
}
identifier.argument { /*  */
    color: hsl(270, 80%, 80%);
}
identifier.argument.prefix { /*  */
    color: hsl(240, 100%, 92%);
}

/* Strings */

string { /*  */
    color: hsl(5, 80%, 65%);
}
string.delimiter { /*  */
    color: hsl(5, 80%, 60%);
}
string.escape { /*  */
    color: hsl(5, 80%, 80%);
}
string.key { /*  */
    color: hsl(270, 80%, 80%);
}
string-keyword { /*  */
    color: hsl(30, 100%, 90%);
}
string-template { /*  */
    color: hsl(30, 100%, 70%);
}
regex { /*  */
    color: hsl(30, 100%, 70%);
}
regex.escape { /*  */
    color: hsl(30, 100%, 80%);
}
cdata { /*  */
    color: hsl(210, 100%, 70%);
}

/* Markup */

markup.heading { /*  */
    color: hsla(21, 95%, 44%, 1);
}
markup.line { /*  */
    color: hsla(279, 28%, 71%, 1);
}
markup.bold { /*  */
    color: hsla(201, 95%, 44%, 1);
    font-weight: bold;
}
markup.italic { /*  */
    color: hsla(131, 19%, 40%, 1);
    font-style: italic;
}
markup.strikethrough { /*  */
    color: hsla(40, 55%, 90%, 1);
}
markup.list.item { /*  */
    color: hsla(21, 95%, 44%, 1);
}
markup.code { /*  */
    background-color: hsla(40, 55%, 90%, 0.2);
}
markup.link { /*  */
    color: hsla(201, 95%, 44%, 1);
}

/* Types */

definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name { /*  */
    
}

/* Members */

definition.property.name { /*  */
}
definition.function.name,
definition.method.name { /*  */
    
}

/* Tags */

tag { /*  */
    color: hsla(279, 28%, 71%, 1);
}
tag.name { /*  */
    color: hsla(201, 95%, 44%, 1);
}
tag.framework { /*  */
    color: hsla(279, 28%, 71%, 1);
}
tag.framework.name { /*  */
    color: hsla(279, 28%, 71%, 1);
}
tag.attribute.name { /*  */
    color: hsla(21, 95%, 44%, 1);
}
tag.framework.attribute.name { /*  */
    color: hsla(279, 28%, 71%, 1);
}
tag.attribute.value { /*  */
    color: hsla(279, 28%, 71%, 1);
}
tag.attribute.value.delimiter { /*  */
    color: hsla(21, 95%, 44%, 1);
}
tag.attribute.operator { /*  */
    color: hsla(21, 95%, 44%, 1);
}
tag.attribute.value.link { /*  */
    color: hsla(201, 95%, 44%, 1);
}

/* Styles */

style.at {
    color: hsla(279, 28%, 71%, 1);
    font-weight: bold;
}
style.selector.element { /* element-level selector */
   color: hsla(131, 19%, 40%, 1);
   font-weight: bold;
}
style.selector.identifier.id { /* id selector */
    color: hsla(21, 95%, 44%, 1);
}
style.selector.identifier.class { /* class selector */
    color: hsla(279, 28%, 71%, 1);
}
style.selector.pseudoclass { /* pseudoclass selector */
    color: hsla(201, 95%, 44%, 1);
}
style.selector.pseudoelement { /* pseudoelement selector */
    color: hsla(201, 95%, 44%, 1);
}
style.attribute.name { /* attribute name */
    color: hsla(40, 55%, 90%, 1);
}
style.value.number { /* number value */
    color: hsla(279, 28%, 71%, 1);
}
style.value.color.hex { /* hex value */
    color: hsla(279, 28%, 71%, 1);
}
style.value.keyword { /* keyword value */
    color: hsla(201, 95%, 44%, 1);
}
style.value.color.named { /* named color value */
    color: hsla(201, 95%, 44%, 1);
}
style.value.identifier.function { /* function value */
    color: hsla(21, 95%, 44%, 1);
}
